RewriteEngine on
RewriteCond $1 !^(index\.php|bootstrap|uploaded|dist|images|plugins|cache|doc|ios|tools|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"