/* @-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(250, 60, 60 , 0.5 ) 1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 1.5em 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) -1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em -1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 -1.5em 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(250, 60, 60 , 0.5 ) 1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 1.5em 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) -1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em -1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 -1.5em 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em -1.1em 0 0;
  box-shadow: rgba(250, 60, 60 , 0.5 ) 1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 1.5em 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em 1.1em 0 0, rgba(250, 60, 60 , 0.5 ) -1.5em 0 0 0, rgba(250, 60, 60 , 0.5 ) -1.1em -1.1em 0 0, rgba(250, 60, 60 , 0.5 ) 0 -1.5em 0 0, rgba(250, 60, 60 , 0.5 ) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

*/

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #ED2416;
  }
  25% {
    stroke: #ED2416;
  }
  50% {
    stroke: #ED2416;
  }
  75% {
    stroke: #ED2416;
  }
  100% {
    stroke: #ED2416;
  }
}

@keyframes colors {
  0% {
    stroke: #ED2416;
  }
  25% {
    stroke: #ED2416;
  }
  50% {
    stroke: #ED2416;
  }
  75% {
    stroke: #ED2416;
  }
  100% {
    stroke: #ED2416;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
